
  <amplify-authenticator [formFields]="formFields">
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
      <ion-app>

        <ion-menu content-id="content">

          <ion-header>
            <ion-toolbar>
              <ion-title>
                <ion-label>{{ 'menu.welcome' | translate }}</ion-label> {{ displayName }}!
              </ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content>
            <ion-list>

              <ion-menu-toggle>
                <ion-item class="popover" translate (click)="go('my-lists')"><b>{{ 'menu.myLists' | translate }}</b></ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item class="popover" translate (click)="go('historic-lists')"><b>{{ 'menu.historicLists' | translate }}</b></ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item class="popover" translate (click)="go('report-list')"><b>{{ 'menu.reports' | translate }}</b></ion-item>
              </ion-menu-toggle>


              <ion-item class="popover" id="nested-trigger"><b>{{ 'menu.languages' | translate }}</b></ion-item>

              <ion-popover side="bottom" alignment="start" trigger="nested-trigger" [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>

                    <ion-list class="popover">
                      <ion-menu-toggle>
                        <ion-item [button]="true" (click)="changeLanguage('es')">{{ 'menu.spanish' | translate }}</ion-item>
                      </ion-menu-toggle>
                      <ion-menu-toggle>
                        <ion-item [button]="true" (click)="changeLanguage('en')">{{ 'menu.english' | translate }}</ion-item>
                      </ion-menu-toggle>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>

              <ion-menu-toggle>
                <ion-item class="popover" (click)="signOut()"><b>{{ 'menu.signOut' | translate }}</b></ion-item>
              </ion-menu-toggle>

            </ion-list>

          </ion-content>

        </ion-menu>

        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button *ngIf="!showMenuButton" (click)="goBack()">
                <ion-icon [icon]="arrowBackOutline"></ion-icon>
              </ion-button>
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
              <div class="wrap">{{header}}</div>
            </ion-title>

            <div *ngIf="router.url.startsWith('/historic-lists/') || router.url.startsWith('/my-lists/') || router.url.startsWith('/report-list/')" slot="end">
              <ion-icon class="options-icon" [icon]="options" id="options-trigger"></ion-icon>
              <ion-popover side="bottom" alignment="start" trigger="options-trigger" [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>
                    <ion-list style="padding: 0px;">
                      <ion-item class="popover" *ngIf="router.url.startsWith('/historic-lists/')" [button]="true" [detail]="false" (click)="deleteList()">{{"deleteList" | translate}}</ion-item>
                      <ion-item class="popover" *ngIf="router.url.startsWith('/my-lists/')" [button]="true" [detail]="false" (click)="deleteStriked()">{{"deleteStriked" | translate}}</ion-item>
                      <ion-item class="popover" *ngIf="router.url.startsWith('/my-lists/')" [button]="true" [detail]="false" (click)="addFriend()">{{"addUser" | translate}}</ion-item>
                      <ion-item class="popover" *ngIf="router.url.startsWith('/report-list/')" [button]="true" [detail]="false" (click)="editCategories()">{{"editCategories" | translate}}</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>

          </ion-toolbar>
        </ion-header>
        <ion-content id="content" overflow-scroll="true">
          <ion-router-outlet></ion-router-outlet>
        </ion-content>
      </ion-app>
    </ng-template>
  </amplify-authenticator>


