
<div *ngIf="!loading">

  <ion-card>
    <ion-item class="sm" lines="none"><b>Creation date: &nbsp;</b> {{dateService.parseDateTime(shoppingList!.date)}}</ion-item>
    <ion-item class="sm" lines="none"><b>Total cost: &nbsp;</b> {{totalCost}}€</ion-item>
    <ion-item class="sm" lines="none">
      <ion-label>Edit mode</ion-label><ion-toggle [(ngModel)]="editMode"></ion-toggle><ion-button (click)="updateList()">Save</ion-button>
    </ion-item>
  </ion-card>
  <ion-card style="padding: 0px;">
    <ion-list class="def-list-no-border">
        <!-- Compatibility?? -->
        <ion-input *ngIf="editMode" style="--background: transparent; opacity: 95%; --placeholder-opacity: 0.4; --padding-start: 15px; --padding-end: 15px;" [(ngModel)]="newItemName" type="text" [placeholder]="'items.newItem' | translate" fill="solid">
          <ion-icon slot="end" class="add-icon" [icon]="add" (click)="createItem()"></ion-icon>
        </ion-input>
        <ion-item *ngFor="let item of items" lines="full" [ngClass]="{'strikethrough' : item.isStriked}" class='text-md'>
          <div slot="start" (click)="updateItem(item)">
            {{ item.name }}
          </div>
          <div *ngIf="editMode">
            <ion-input style="color: rgb(112, 110, 101);" [(ngModel)]="item.cost" type="number" name="cost" placeholder="0"></ion-input>
          </div>
          <div *ngIf="!editMode" slot="end">
            <ion-label style="color: rgb(112, 110, 101);" type="decimal">{{item.cost}}€</ion-label>
          </div>
          <div slot="end">
            <h4 slot="end"><ion-icon class="trash-icon" [icon]="close" (click)="deleteItem(item)"></ion-icon></h4>
          </div>
        </ion-item>
    </ion-list>
  </ion-card>
</div>
