<main>
  <ion-card>
    <ion-title class="card-title">My Lists</ion-title>
      <form onSubmit="addList(listName)">
        <ion-item lines="none">
          <ion-input [(ngModel)]="newListName" type="text" name="newListName" placeholder="Input list name" fill="outline"/>
          <ion-icon class="add-icon" [icon]="addCircleOutline"  (click)="addList()"></ion-icon>
        </ion-item>
      </form>
  </ion-card>
  <ion-card *ngIf="shoppingLists.length > 0">
    <ul>
      <li *ngFor="let list of shoppingLists;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button href="my-lists/{{list.id}}">
              <h3>
                {{ list.name }}
              </h3>
              </ion-button>
            </ion-col>
            <ion-col>
              <h4><ion-icon class="trash-icon" [icon]="trashBin"  (click)="deleteList(list)"></ion-icon></h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>{{ list.items.length }} Items</h6>
            </ion-col>
            <ion-col>
              <h6>{{parseDate(list.date)}}</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </ion-card>
</main>
