<main *ngIf="!loading">
  <ion-card>
    <form onSubmit="addList(listName)">
      <ion-input [(ngModel)]="newListName" type="text" name="newListName" placeholder="New list" fill="solid" style=" --placeholder-opacity: 0.9;">
        <ion-icon slot="end" class="add-icon" [icon]="addCircleOutline"  (click)="addList()"></ion-icon>
      </ion-input>
    </form>
  </ion-card>
  <ion-card *ngIf="shoppingLists.length > 0">
    <ul>
      <li *ngFor="let list of shoppingLists;">
          <ion-row>
            <ion-col>
              <h3 (click)="go(list.id)">{{ list.name }}</h3>
            </ion-col>
            <ion-col>
              <h5 (click)="go(list.id)">{{parseDate(list.date)}}</h5>
            </ion-col>
            <ion-col style="text-align: center;align-items: center !important;">
              <ion-icon class="trash-icon" [icon]="trashBin"  (click)="deleteList(list)"></ion-icon>
            </ion-col>
          </ion-row>
      </li>
    </ul>
  </ion-card>
</main>
