<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="wrap">
        {{"addUserModal.title" | translate}}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">{{"addUserModal.confirm" | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-input class="def-list" style="padding: 0 10px 0 10px !important;" labelPlacement="stacked" [label]="'addUserModal.title' | translate" [(ngModel)]="name"></ion-input>
</ion-content>
