body {
    margin: 0;
    background-color: wheat;
    background: linear-gradient(180deg, rgb(194, 177, 81), rgb(255, 255, 255));
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  ion-content {
    height: 90vh;
    align-content: center
  }

  ion-card {
    width: 90vw;
    padding: 3vw;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #202020;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }

  li {
    background-color: white;
    padding: 8px;
  }

  li:hover {
    background: #dadbf9;
  }

  a {
    font-weight: 800;
    text-decoration: none;
  }

  ion-app {
    background: white;
  }

  --ion-background-color {
    background: wheat;
  }

  ion-card {
    background:rgb(201, 166, 62);
    border: 1px solid rgb(110, 53, 6);
  }

  .card-title {
    color: rgb(77, 33, 5);
  }

  ion-item {
    --background: transparent;
  }

  .trash-icon {
    color: red;
    font-size: 25px;
  }

  .add-icon {
    color: rgb(32, 155, 59);
    font-size: 50px;
  }
